* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color:#141414;
}


.signup-box {
    width: 360px;
    height: 720px;
    margin: auto;
    background-color: #141414;
    border-radius: 4px;
    border: 1px solid #ff0844;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}